.todo-container {
    /* border: 1px solid;*/
    text-align: center;
}

.todo-filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-space {
    margin: 0 0.5rem;
}